body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/*
    Header Banner
*/
.header-banner {
  background-color: #282828;
  color: #fff;
  height: 40px;
}
.header-banner-content {
  font-weight: bold;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}
.header-banner-utils {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}
.header-banner-utils .store-header {
  margin-right:20px;
}
.header-banner-utils span.material-icons {
  vertical-align: middle;
font-size: 1.25rem;
}
.header-banner-utils a {
  color: #fff;
  text-decoration: none;
}


/*
    Promo Banner
*/
.promo-banner {
  background-color: #00A45A;
}
.promo-banner a {
  color: #fff;
  display: block;
  font-size:16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.promo-banner a span.d-block {
  position: relative;
  top: -5px;
}


/*
    Main Header Navigation
*/
.main-header-navigation{
  position: sticky;
  top: 0;
  padding: 18px 24px;
  box-shadow: 0 2px 2px rgb(0 0 0 / 15%);
  background: #fff;
}
.main-header-navigation .sticky-class{
  transition: all 0.3s ease-in-out;
  padding: 5px 12px;
}
.main-header-navigation .header-mobile-menu.col-3 {
  flex: 0 0 0;
}
.main-header-navigation .header-search form#simpleSearch{
  margin-bottom: 0;
}
.main-header-navigation .header-search form#simpleSearch .input-group.input-group-search-wrapper, .main-header-navigation .search-field{
  background: #f0f0f0 0 0 no-repeat padding-box;
}



/*
    Main Content
*/
.main-content {}


/*
    Footer
*/
footer {}
